
<section class="hero is-primary is-fullheight">
	<div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Angular 5 + Firebase
	      </h1>
	      <h2 class="subtitle">
	        Progressive Web Application with realtime database, inspired by angular firestarter.
	      </h2>
	    </div>
	</div>
</section>
<section class="hero is-info is-fullheight">
	<div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Custom Components
	      </h1>
	      <h2 class="subtitle">
	        Bulma + Extentions + Custom Components.
	      </h2>
	    </div>
	</div>
</section>
<section class="hero is-light is-fullheight">
	<div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Mobile
	      </h1>
	      <h2 class="subtitle">
	        Mobile First Responsive Layout
	      </h2>
	    </div>
	</div>
</section>
<section class="hero is-danger is-fullheight">
	<div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Admin
	      </h1>
	      <h2 class="subtitle">
	        Admin to manage users, items and other things in the database.
	      </h2>
	    </div>
	</div>
</section>
<section class="hero is-warning is-fullheight">
	<div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Social Media
	      </h1>
	      <h2 class="subtitle">
	        Social Media Login and other integrations.
	      </h2>
	    </div>
	</div>
</section>
<section class="hero is-dark is-fullheight">
	<div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Style Guide
	      </h1>
	      <h2 class="subtitle">
	        Full Style guide with examples for all components.
	      </h2>
	    </div>
	</div>
</section>