@import "./styles/loading.scss";
@import "./styles/matchstick.scss";
@import "./app/theme/styles/style.scss";
@imoprt "./bulma-extensions/dist/bulma-extensions.sass";

// Modifiers

.centered {
	text-align: center;
}

.block {
	width:100%;
}