@import "./styles/loading.scss";
@import "./styles/matchstick.scss";
@import "./app/theme/styles/style.scss";
@imoprt "./bulma-extensions/dist/bulma-extensions.sass";

// Modifiers

.centered {
	text-align: center;
}

.block {
	width:100%;
}

html, body {
	min-height: 100vh;
}

body {
	scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-behaviour: smooth;
    overflow: scroll;
    height: 100vh;
}